@{
    Layout = "~/Views/Shared/_LayoutShopping.cshtml";

    int roomid = ViewBag.room;
    int hotelid = ViewBag.hotel;
}

<div class="container">
    <h2>Payment Information</h2>
    <form asp-action="RentApplication" method="post">
        <!-- Full Name -->
        <div class="form-group">
            <label for="fullName">Full Name</label>
            <input type="text" class="form-control" name="fullName" id="fullName" placeholder="Enter your full name" required>
        </div>

        <!-- Phone Number -->
        <div class="form-group">
            <label for="phoneNumber">Phone Number</label>
            <input type="tel" class="form-control" id="phoneNumber" name="phoneNumber" placeholder="Enter your phone number" required>
        </div>

        <div class="form-group">
            <label for="from">From</label>
            <input type="datetime-local" class="form-control" id="from" name="from" placeholder="From" required>
        </div>

        <div class="form-group">
            <label for="to">To</label>
            <input type="datetime-local" class="form-control" id="to" name="to" placeholder="To" required>
        </div>

        <div class="form-group visually-hidden">
            <label for="hotelid">Hotel ID</label>
            <input type="text" name="hoteid" class="form-control" id="hotelid" asp-for="@hotelid" required>
        </div>

        <div class="form-group visually-hidden">
            <label for="id">Room ID</label>
            <input class="form-control" id="id" name="id" placeholder="Room ID" asp-for="@roomid" required>
        </div>

        <!-- Submit Button -->
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>

<script>
    $(function () {
        $('#from').datetimepicker();
    });

    $(function () {
        $('#to').datetimepicker();
    });
</script>
