
@{
    int roomid = ViewBag.room;
    int hotelid = ViewBag.hotel;
}
<div class="container">
    <h2>Payment Information</h2>
    <form asp-action="RentApplication" method="post">
        <!-- Full Name -->
        <div class="form-group">
            <label for="fullName">Full Name</label>
            <input type="text" class="form-control" id="fullName" placeholder="Enter your full name" required>
        </div>

        <!-- Phone Number -->
        <div class="form-group">
            <label for="phoneNumber">Phone Number</label>
            <input type="tel" class="form-control" id="phoneNumber" placeholder="Enter your phone number" required>
        </div>

@*         <!-- Card Number -->
        <div class="form-group">
            <label for="cardNumber">Card Number</label>
            <input type="text" class="form-control" id="cardNumber" placeholder="Enter your card number" required>
        </div>

        <!-- CVV -->
        <div class="form-group">
            <label for="cvv">CVV</label>
            <input type="text" class="form-control" id="cvv" placeholder="Enter CVV" required>
        </div>
 *@

        <div class="form-group">
            <label for="from">from</label>
            <input type="datetime" class="form-control" id="from" placeholder="from" required>
        </div>

        <div class="form-group">
            <label for="to">to</label>
            <input type="datetime" class="form-control" id="to" placeholder="to" required>
        </div>



        <div class="form-group  visually-hidden">
            <label for="hotelid">hotel id</label>
            <input type="text" name="hoteid" class="form-control" id="hotelid" asp-for="@hotelid" disabled required>
        </div>


        <div class="form-group  visually-hidden ">
            <label for="id">room id</label>
            <input type="text" class="form-control" id="id" name="id" placeholder="room id" asp-for="@roomid" disabled required>
        </div>

        <!-- Submit Button -->
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
<script>
    $(document).ready(function () {
        // Initialize DateTimePicker
        $('#from').datepicker({
            format: 'yyyy-mm-ddThh:ii',
            autoclose: true
        });

        // Set the default date to the current date and time
        var currentDate = new Date();
        $('#from').datepicker('setDate', currentDate);
    });
</script>